<html>
  <head>
      <div class="container">
        <h1 class="logo">Get users from patent</h1>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
   
  <div class='container'>
      <h3>Past here text of your patents</h3>
      <form name="input" action="{{ url_for('getusers') }}"  method="POST">
         <textarea type="text" id="input" name="inputP" rows="10"></textarea>
         <br>
         <br>
         <button type="submit" method="POST"> Submit </button>
      </form>
  </div>

</body>

</html>