<html>
  <head>
      <div class="container">
        <h1 class="logo">Get users from patent</h1>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
   
  <div class='container'>
      <h3>Past here text of your patents</h3>
      <form name="getuser" enctype=multipart/form-data method="POST">
         Copy and past text of your patents here (if less than 1000 words):
         <br>
         <textarea type="text" id="input" name="inputP" rows="15" align="left">{{inputP}}</textarea>
         <br>
         <br>
         Or upload your text file
         <br>
         <br>
         <input type=file name=pat>
         <br>
         <br>
         <br>
         <input type="submit" method="POST"> Submit </input>
         <br>
         <br>
         <textarea type="text" id="output" name="outputP" rows="15">      
Results:
 
{{outputP}}     
         
         </textarea>
      </form>
      <a href="http://127.0.0.1:5000/">Back</a> 

  </div>

</body>

</html>